body {

    background-color: rgb(247, 245, 232);
}
  
h1 {
    font-family: cursive;
    font-style: italic;
    color: rgb(95, 120, 200);
    text-align: center;
  }

.menu { 
  font-family: verdana;
  color:rgb(0,0,0);;
  font-size: 20px;
  text-align: justify;
  }

h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    color: rgb(0,0,0);
    text-align: center;
  }

img {
    display: block; 
    margin: 0 auto;
  }

.ventajas ol{
    font-family: verdana;
    color:rgb(0,0,0);;
    font-size: 20px;
    text-align: justify;
  }

.ventajas dl{
    font-family: verdana;
    font-style: italic;
    color: rgb(0,0,0);;
    font-size: 20px;
    text-align: justify;
  }

table{
    margin: auto;
    border-collapse: collapse;
    width: 50%;
  }

th, td {
    border: 2px solid grey;
    text-align: center; 
}

th {
    font-weight: bold;
    font-family: Franklin Gothic Medium;
    font-size: 18px;
    padding: 10px;
}

td{
    font-weight: bold;
    font-family: Verdana;
    font-size: 14px;
    padding: 30px;

}

.imagenlink {
    font-family: verdana;
    color: rgb(0,0,0);;
    font-size: 10px;
    text-align: center;
}
  
.imagenlink a {
    max-width: 10%;
    display: inline-block; 
    padding: 0; 
    margin: 0 auto; 
}

.imagenlink img {
    max-width: 100%;
    height: auto; 
    display: block; 
    margin: 0 auto; 
}